<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Roshan</title>
</head>

<body>
    <header id="header">
        <div class="container nav-container">
            <div class="hamburger">
                <i id="hamburger-button" class="fas fa-bars hamburger-button"></i>
            </div>
            <nav id="nav">
                <h2 class="nav-logo">Sparks Foundation</h2>
                <ul>
                    <li><a class="nav-link" href="/">Home</a></li>
                    <li><a class="nav-link" href="/donate">Donate</a></li>
                    <li><a class="nav-link" href="/about">About</a></li>
                    <li><a class="nav-link" href="/contact">Contact</a></li>
                </ul>
            </nav>
            
        </div>
    </header>