<div id="about" class="about">
    <div class="about-container">
        <%- include("partials/header") -%>

            <h1 class="about-title">About</h1>
    </div>
    <div class="container about-container2">
        <div>
            <h1 class="about-subtitle">We are non <br> Profit <span>Team</span></h1>
            <p class="about-info">We’re passionate about creating sustainable solutions for those less fortunate, using
                private donations
                to fund our projects, and sharing the true life changing stories that were made possible by your
                support. We’re passionate about creating sustainable solutions for those less fortunate, using private
                donations
                to fund our projects</p>
        </div>
        <div class="about-image">
            <img src="https://www.bigfrog.com/wp-content/uploads/2019/11/Big-Frog-Custom-Organization-Shirts.jpg"
                alt="">
        </div>
    </div>
    </about>
    <%- include("partials/footer"); -%>