<div id="contact" class="about">
    <div class=" about-container">
        <%- include("partials/header") -%>

            <h1 class="about-title">Contact</h1>
    </div>
    <div class="container about-container2">
        <div class="contact-title">
            <h2 class="contact-subtitle">Contact <span>Info</span></h2>
            <p class="about-info">You have just invested in a new vehicle, the one
                of your dreams, and you take it.</p>
            <div class="contact-info top">
                <i class="fas fa-envelope"></i>
                <p class="contact-detail">Email<br>
                    pmcares[at]gov[dot]in</p>
            </div>
            <div class="contact-info">
                <i class="fas fa-phone-alt"></i>
                <p class="contact-detail">Phone<br>
                    +91-11-23013683</p>
            </div>
            <div class="contact-info">
                <i class="fas fa-map-marker-alt"></i>
                <p class="contact-detail">Address<br>
                    Prime Minister's Office,<br>
                    South Block, New Delhi-110011</p>
            </div>
        </div>
        
    </div>
</div>
<%- include("partials/footer"); -%>