<div id="donate" class="donate">
    <%- include("partials/header") -%>

        <div class="container">
            <div class=" donate-container">
                <h2 class="contact-subtitle donate-title">Don't turn <span>away.</span> Give <span>today!</span> Don't turn your back to those in <span>need</span> Donate to <span>charity</span> Donate, a child needs your <span>hope</span> </h2>
                <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_IAHqwVvAD2WRJz" async> </script> </form>
            </div>
        </div>
</div>

<%- include("partials/footer"); -%>