<div id="home" class="home">
    <%- include("partials/header"); -%>
        <div class="container">
            <div class="home-container">
                <h1>Hope for<br> Humunity</h1>
                <h3>Give children the happy <span>childhoods they deserve!</span></h3>
                <a class="home-link1" href="/">Get started</a>
                <a class="home-link2" href="/donate">❤ Donate now</a>
            </div>
        </div>
</div>

<%- include("partials/footer"); -%>